/* FONTS */
#mainWrapper{
	.color-purple{
		color:#5a1f5f;
	}

	.color-black{
		color:#000000;
	}

	.color-grey{
		color:#666666;
	}

	h2{
		font-size:36px;
		font-weight:bold;
	}
}
/* FONTS */